.container {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid rgb(228, 108, 108);
  background-color: rgba(52, 73, 94, 1);
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_block {
  width: 1080px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.form_block p {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 30px;
  font-size: 25px;
  font-weight: 400;
  font-family: inter;
  background-color: rgba(39, 174, 96, 1);
  text-align: center;
}
.form_block input {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 30px;
  font-size: 25px;
  font-weight: 400;
  font-family: inter;
  padding-left: 10px;
  cursor: pointer;
}
.select_block {
  width: 500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
}
.select_p {
  width: 260px;
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 400;
  font-family: inter;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select {
  width: 140px;
  height: 50px;
  font-size: 25px;
  font-weight: 400;
  font-family: inter;
  border: none;
  cursor: pointer;
}
.option_select {
  font-size: 25px;
  font-weight: 400;
  font-family: inter;
  cursor: pointer;
  color: rgb(236, 121, 121);
}
